*{
    margin: 0;
    padding: 0;
 }

 body{
    font-family: Arial, Helvetica, sans-serif;
    background: #031927;
    color: #e5e7eb;
 }

 a{
    text-decoration: none;
    color: inherit;
 }

 li{
    list-style: none;
 }

 /*HEADER*/

 .logo{
    color: #34b399;
    font-size: 1.3em;    
 }

 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: relative;   
    background: #020617;       

    /* REGRAS PARA FIXAR NO TOPO */
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
 }

 
 #menu{
    display: flex;
    gap: 10px;
 }

 #menu li:hover{     
    color: #10b981;
 }



 .hero{
    min-height: 50vh; 
    background: radial-gradient(circle at top, #020617, #031927);     
      
 }

 .hero-container{ 
    min-height: 100vh;  
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;    
 }

 .intro{
    color: #34b399;
    margin-bottom: 20px;    
    font-size: 1.5em;
 }

 .hero-container h2{
    font-size: 3em;
    margin: 30px;
 }

 .descricao{
    color: #34b399;  
    font-size: 1.5em;  
    margin-top: 20px;   
 }

 /*SOBRE*/

#sobre{
    min-height: 40vh;   
    display: flex;
    flex-direction: column;    
    padding: 2em;
    background: #031927;
    
} 

#sobre h2{
    color: #34b399;
    text-align: center;
    margin-bottom: 20px;
}

.sobre-conteudo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 20px;
}

.sobre-conteudo .sobre-texto{
    display: flex;
    width: 90%;
    max-width: 1000px;
    flex: 1;
    gap: 40px;
    margin: 0 auto;
}

.sobre-texto p{
    color: #9ca3af; 
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
   
}

.sobre-dados{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;    
}

.sobre-dados div{     
    text-align: center;    
}

.sobre-dados strong{
    display: block;
    font-size: 2em;
    color: #34b399;
}

.sobre-dados span{
    font-size: 1em;
    color: #9ca3af;
}

/*PROJETOS*/

#projetos{
    padding-top: 40px;
    padding-bottom: 60px;
    min-height: auto; 
    text-align: center;    
    background: radial-gradient(circle at top, #020617, #031927);  
}

.projetos-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;    
}

.projetos-container > * {
    flex: 0 1 250px;    
}

.projetos-container a {
    display: inline-block; /* Permite que margens e paddings funcionem melhor em links */
    margin-top: auto;      /* Truque: empurra o link sempre para o final do card */
    padding-top: 10px;     /* Espaço extra acima do link */
}
.projeto-card{
    background: #020617;
    padding: 20px;
    border-radius: 10px;
}

.projeto-card img{
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.projeto-card h2{
    font-size: 1.1em;
}

#projetos h2{
    color: #34b399;
    margin-bottom: 1em;
    margin-top: 1em;  
}


.projeto-card p{
    color: #9ca3af;
    margin-bottom: 25px;
}

.projeto-card a{
    color: #34b399;
    font-weight: bold;
    border: 1px solid #34b399;
    padding: 10px;
    border-radius: 10px;   
    
}

/*HABILIDADES*/

#habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: auto;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  
    padding: 30px;
}

#habilidades p{
    color: #9ca3af;
    margin: 20px;
}

.habilidades-lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin: 20px;
}

.habilidades-card{
    background-color: #020617;    
    border-radius: 10px;
    padding: 20px 25px;
}

.habilidades-card:hover{
    border: 1px solid #34b399;
} 

.habilidades-card span{
    padding: 5px 14px;
    border-radius: 10px;
    background: #020617;
    border: 1px solid #1f2933;
    color: #34b399;
    font-size: 0.9em;
}

.habilidades-card h3{
    margin-bottom: 10px;    
}

/*CONTATO*/

#contato{
    min-height: 50vh;
    text-align: center;
    padding: 1em;
}

#contato h2{
    color: #34b399;
    margin-bottom: 20px;
}

#contato p{
    color: #9ca3af;
    margin-bottom: 15px;
}

.contatos-lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
}

.contato-item{
    background: #020617;
    padding: 20px 30px;
    border-radius: 10px;
}

.contato-item:hover{
    border: 1px solid #34b399;
}

.contato-item strong{
    color: #34b399;
    display: block;
    margin-bottom: 5px;
}

.contato-item span{
    color: #9ca3af;
    font-size: 0.9em;
}

/*REDES SOCIAS*/

.redes-sociais{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.redes-sociais a{
    border: 1px solid #34b399;
    border-radius: 10px;
    color: #34b399;
    padding: 10px 20px;
}

.redes-sociais a:hover{
    color: #020617;
    background: #10b981;
}



.footer{
    height: 5vh;
    background: #020617;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9ca3af;    
}

#hamburger{
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

/*RESPONSIVIDADE*/

@media (max-width: 768px){
    .redes-sociais{
        flex-direction: column;
    }

    #hamburger{
        display: block;
    }

    #menu{
        position: absolute;
        top: 70px;
        right: 40px;
        gap: 15px;
        background: #111;
        flex-direction: column;
        display: none;
    }

    #menu.ativa{
        display: flex;
    }

    .sobre-conteudo .sobre-texto{
        width: 80vw;
        flex-direction: column;
        gap: 20px;
    }

    
}

